#continue{
    color:white;
    background-color:orange;
}
footer{
    background-color: black;
    color: aquamarine;
}
header{

    background-color: red;
    color: white;
}
footer a{
    color: white;
}