p::first-line{
    font-size: larger;
    font-weight:900 ;
}
p::first-letter{
    font-size: 70px;
    color: yellow;
    float: left;
    background-color:white;

}
section{
    background-color:white;
    height: auto;
    width: 500px;
    margin: 0 auto;
    margin-top: 250px;
}
body{
    background-color: blueviolet;
}